<a href="https://colab.research.google.com/github/prithviratkalkar2304-coder/Prithvi_Ratkalkar/blob/main/Create%20Dataset%20and%20Load%20Dataset%20/Experiment10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:Prithvi Ratkalkar

PRN:25070123165

Batch: ENTC-A1

#Experiment-10
#Create Dataset and Load Dataset

In [ ]:
import pandas as pd
data = {
    "Roll_No":[2,54,76,67,23],
    "Gender":["Female","Male","Male","Female","Male"],
    "Department":["IT","ENTC","CS","MECH","CS"],
    "CGPA":[8.9,7.0,9.0,9.5,9.5]
}

df=pd.DataFrame(data)
df.to_csv("students.csv",index=False)

In [ ]:
df.shape

(5, 4)

In [ ]:
#Access the department columns
df["Department"]

0      IT
1    ENTC
2      CS
3    MECH
4      CS
Name: Department, dtype: object

In [ ]:
#Find the data type of each columns
df.dtypes

Roll_No         int64
Gender         object
Department     object
CGPA          float64
dtype: object

In [ ]:
#Access info of Roll_No 67
df.loc[3]

Roll_No           67
Gender        Female
Department      MECH
CGPA             9.5
Name: 3, dtype: object

In [ ]:
#Perform mean
df["CGPA"].mean()

np.float64(8.98)

In [ ]:
#median
df["CGPA"].median()

9.0

In [ ]:
#mode
df["CGPA"].mode()

0    9.5
Name: CGPA, dtype: float64

In [ ]:
#Insert a new column Grade
df["Grade"] = ["A","B","A","A+","A+"]
df

   Roll_No  Gender Department  CGPA Grade
0        2  Female         IT   8.9     A
1       54    Male       ENTC   8.0     B
2       76    Male         CS   9.0     A
3       67  Female       MECH   9.5    A+
4       23    Male         CS   9.5    A+

In [ ]:
#Delete Gender column
df.drop("Gender",axis=1, inplace=True)
df

   Roll_No Department  CGPA Grade
0        2         IT   8.9     A
1       54       ENTC   8.0     B
2       76         CS   9.0     A
3       67       MECH   9.5    A+
4       23         CS   9.5    A+

In [ ]:
#CGPA of Roll_No:76
df.loc[2,"CGPA"]

np.float64(9.0)

In [ ]:
#CGPA of Topper
df.loc[df["CGPA"].idxmax(),"CGPA"]

np.float64(67.0)

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv('/content/Cars93.csv')

In [ ]:
df.size

930

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    93 non-null     object
 1   Model           93 non-null     object
 2   Type            93 non-null     object
 3   Price           93 non-null     float64
 4   MPG.city        93 non-null     int64
 5   AirBags         59 non-null     object
 6   Horsepower      93 non-null     int64
 7   Passengers      93 non-null     int64
 8   Rear.seat.room  91 non-null     float64
 9   Luggage.room    82 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.4+ KB

In [ ]:
df.head()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0

In [ ]:
df.tail()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0