<a href="https://colab.research.google.com/github/prithviratkalkar2304-coder/Prithvi_Ratkalkar/blob/main/Study%20of%20Pandas%20/Experiment9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:Prithvi Ratkalkar

PRN:25070123165

Batch: ENTC-A1

#Experiment-9
#Study of Pandas Library(UNIT-2)

In [ ]:
#Panda
'''Used for:
Structured data
EDA
Data Cleaning'''

'Used for:\nStructured data\nEDA\nData Cleaning'

In [ ]:
import pandas as pd
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
#Create DataFrame
data={
    "Name":["A","B","C"],
    "Marks":[85,95,69]
}
df=pd.DataFrame(data)
df

  Name  Marks
0    A     85
1    B     95
2    C     69

In [ ]:
df.head()
df.tail()

  Name  Marks
0    A     85
1    B     95
2    C     69

In [ ]:
#Find the structure of the DataFrame
df.shape

(3, 2)

In [ ]:
df.ndim #(num of features-columns)

2

In [ ]:
df.size
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Marks   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [ ]:
#Display of Columns Names
df.columns

Index(['Name', 'Marks'], dtype='object')

In [ ]:
#Check Data Types of Each Column
df.dtypes

Name     object
Marks     int64
dtype: object

In [ ]:
#Access Individual Column
df["Marks"]

0    85
1    95
2    69
Name: Marks, dtype: int64

In [ ]:
#access specific row
df.loc[1]

Name      B
Marks    95
Name: 1, dtype: object

In [ ]:
df.loc[2]

Name      C
Marks    69
Name: 2, dtype: object

In [ ]:
# Add a new Column
df["Grade"] = ["First Class","Distinction","Second Class"]
df

  Name  Marks         Grade
0    A     85   First Class
1    B     95   Distinction
2    C     69  Second Class

In [ ]:
#Update a data
df.loc[0,"Marks"]=87
df

  Name  Marks         Grade
0    A     87   First Class
1    B     95   Distinction
2    C     69  Second Class

In [ ]:
#Delete a column
df.drop("Grade",axis=1, inplace=True)
df

  Name  Marks
0    A     87
1    B     95
2    C     69

In [ ]:
#perform statistical analysis
df["Marks"].mean()

np.float64(83.66666666666667)

In [ ]:
df['Marks'].min()

69

In [ ]:
df['Marks'].max()

95

In [ ]:
#Apply Condition(Filtering)
#Display Students scoring more than 80.
df[df['Marks']>80]

  Name  Marks
0    A     87
1    B     95