<a href="https://colab.research.google.com/github/prithviratkalkar2304-coder/Prithvi_Ratkalkar/blob/main/STUDY%20OF%20LISTS%20IN%20PYTHON%20/%20Exp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:Prithvi Ratkalkar

PRN:25070123165

Batch: ENTC-A1

#Experiment-3
#To Study Lists in Python and Various Operators on it

In [ ]:
## Python Lists
thislist=["raj","verma" ,"shawn"]
print(thislist)

['raj', 'verma', 'shawn']

In [ ]:
#List Length
thislist=["cricket", "basketball","Football","golf"]
print(len(thislist))

4

In [ ]:
#List with strings integer and boolean values
list1=["A", 54,True,4+8j]
list1
print(list1)

['A', 54, True, (4+8j)]

In [ ]:
#Access List
thislist=["Cricket","Football","Hockey"]
print(thislist[2])

Hockey

In [ ]:
#Reverse/Negative Indexing
thislist=["Cricket","Football","Hockey"]
print(thislist[-2])

Football

In [ ]:
#slicing
list1=["A","B","C","D","E","F","G","H"]
print(list1[2:6])

['C', 'D', 'E', 'F']

In [ ]:
thislist=[1,2,3,4,5,6,7,8,9,0]
print(thislist[:5])
print(thislist[7:])
print(thislist[::4])

[1, 2, 3, 4, 5]
[8, 9, 0]
[1, 5, 9]

In [ ]:
#Changing values from the list
thislist=["Cricket","Football","Hockey"]
thislist[1]="Badminton"
print(thislist)

['Cricket', 'Badminton', 'Hockey']

In [ ]:
#Append items
thislist=["Cricket","Football","Hockey"]
thislist.append("Badminton")
print(thislist)

['Cricket', 'Football', 'Hockey', 'Badminton']

In [ ]:
#Insert items
thislist=["A","B","C","Aaryan"]
thislist.insert(2,"Badminton")
print(thislist)

['A', 'B', 'Badminton', 'C', 'Aaryan']

In [ ]:
#Extend list
thislist=["Cricket","Football","Hockey"]
this=['A',3,True]
thislist.extend(this)
print(thislist)

['Cricket', 'Football', 'Hockey', 'A', 3, True]

In [ ]:
#Searhing items
thislist=[1,3,4,6,7,9]
3 in thislist

True

In [ ]:
#Slicing Contd
List1=[12,54,6,34,74,32]
print(List1[1:3])
print(List1[1:3:1])
print(List1[2:5:2])
print(List1[1:4:3])
print(List1[-1:-3:-1])

[54, 6]
[54, 6]
[6, 74]
[54]
[32, 74]

In [ ]:
#Problem-1
marks=[78,85,90,66,88]
print(max(marks))
print(min(marks))
print(sum(marks))
print(len(marks))
print(sum(marks)/len(marks))
marks.sort()
print(marks)

90
66
407
5
81.4
[66, 78, 85, 88, 90]

In [ ]:
#Problems-2
'''2. Grocery Shopping List
A user maintains a grocery list for monthly shopping
Tasks:
* Create a grocery list
* Add new items to list
* Remove purchased items
*display the final shopping list
Consepts Used: append(),remove(),indexing'''


GL1=["peanut butter","eggs","vegies","apples"]
GL2=["cheese","banana","bread"]
GL1.append("milk")
print(GL1)
GL1.remove("peanut butter")
print(GL1)
GL1.extend(GL2)
print(GL1)

['peanut butter', 'eggs', 'vegies', 'apples', 'milk']
['eggs', 'vegies', 'apples', 'milk']
['eggs', 'vegies', 'apples', 'milk', 'cheese', 'banana', 'bread']

In [ ]:
#Problem-3
'''3. A person stores phone contacts in a list.
Tasks:
*Display the list
*Add a new Contact
*Remove a contact
*Arrange the contacts in alphabetical order
Concepts used: sort()...
'''
c=["Prithvi", "Aaryan", "Astha", "Aditya", "Raj", "Yash"]
print(c)
c.append("Aryan")
print(c)
c.remove("Raj")
print(c)
print(sorted(c))

['Prithvi', 'Aaryan', 'Astha', 'Aditya', 'Raj', 'Yash']
['Prithvi', 'Aaryan', 'Astha', 'Aditya', 'Raj', 'Yash', 'Aryan']
['Prithvi', 'Aaryan', 'Astha', 'Aditya', 'Yash', 'Aryan']
['Aaryan', 'Aditya', 'Aryan', 'Astha', 'Prithvi', 'Yash']

In [ ]:
#Problems-4
''' 4. Temperature Analysis
Daily temperature readings of a city are stored in a list for 10 days
* Display temperatures of first and last 5days
* Find highest and lowest temp
* Calculate average temp
Concepts used: max(),min(),sum()'''
Pune=[12,23,27,30,28,28,32,25,24,20]
print(Pune[:5])
print(Pune[-5:])
print(max(Pune))
print(min(Pune))
print(sum(Pune)/len(Pune))

[12, 23, 27, 30, 28]
[28, 32, 25, 24, 20]
32
12
24.9

In [ ]:
#Problems-5
''' 5. Dialy Expense Tracker
A person tracks daily expenses in a list
Tasks:
* Store Daily expenses
* Display total and average expenses
* Indentify highest spending day and lowest
Concepts used: max(),len(),sum(),min()'''
List=[30,40,90,100,200]
print('$',sum(List))
print('$',sum(List)/len(List))
print('$',max(List))
print('$',min(List))

$ 460
$ 92.0
$ 200
$ 30