<a href="https://colab.research.google.com/github/prithviratkalkar2304-coder/Prithvi_Ratkalkar/blob/main/STUDY%20OF%20SETS%20IN%20PYTHON%20/%20Exp5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>




Name:Prithvi Ratkalkar

PRN:25070123165

Batch: ENTC-A1
#Experiment-5
#Study of Sets in Python

In [ ]:
#Creation of Set

thisset={"Raj", "Adi","Yash"}
print(thisset)   #(Unordered indexing)

{'Adi', 'Raj', 'Yash', '1'}
{'Adi', 'Raj', 'Yash', '1'}

In [ ]:
#Duplicates are not allowed
thisset={"Raj","Raj", "Adi","Yash","Raj"}
print(thisset)

{'Adi', 'Raj', 'Yash', '1'}

In [ ]:
#the value True and 1 are considered same value in sets
thisset={"Raj","1","Raj", "Adi","Yash","1","Raj",True,1,0 ,False}
print(thisset)

{0, True, 'Adi', 'Raj', 'Yash', '1'}

In [ ]:
#A set with string, integer, boolean values
set1={"Aditya", 5,True, 14.34}
print(set1)

{'Aditya', True, 5, 14.34}

In [ ]:
#searching
thisset={"Raj", "Adi","Yash"}
print("Adi" in thisset)
print("Adi" not in thisset)
print("Aditya" in thisset)

True
False
False

In [ ]:
# once a set is created you can't replace its items but you can add new items
thisset={"Raj", "Adi","Yash"}
thisset.add("Aditya")
print(thisset)

{'Aditya', 'Adi', 'Raj', 'Yash'}

In [ ]:
# remove items
thisset={"Raj", "Adi","Yash"}
thisset.remove("Adi")
print(thisset)

{'Raj', 'Yash'}

In [ ]:
#Set operators
A={1,2,3,4,5}
B={4,5,6,7,8}
print("Union", A|B)
print("Intersection", A&B)
print("Difference", B-A)
print("Symmetric Difference", A^B)

Union {1, 2, 3, 4, 5, 6, 7, 8}
Intersection {4, 5}
Difference {8, 6, 7}
Symmetric Difference {1, 2, 3, 6, 7, 8}

In [ ]:
from enum import unique
#Problem-1
NAME={"Adi", "Raj", "Pari", "Harsh", "Aditya", "Raj","Aaryan", "Yash", "Harsh", "Shakshi", "Adi"}
unique_names=set(NAME)
print(unique_names)

{'Aditya', 'Shakshi', 'Aaryan', 'Pari', 'Adi', 'Raj', 'Yash', 'Harsh'}

In [ ]:
#Problem-2
A={"Maths","Chemistry","Physics","Computers","Literature","German"}
B={"English", "Geography", "Economics", "Maths"}
C={"Maths","Geography","History" }
print("The common subject between A and B are:", A&B)
print("The common subject between B and C are:", B&C)
print("The common subject between A, B, C are:", A&B&C)

The common subject between A and B are: {'Maths'}
The common subject between B and C are: {'Geography', 'Maths'}
The common subject between A, B, C are: {'Maths'}

In [ ]:
#Problem-3
Cricket={"Prithvi", "Aditya","Yash","Aaryan","Akshat"}
Football={"Yash","Aaryan","Akshat","Adi", "Raj"}
InBothClubs=Cricket&Football
print(InBothClubs)
InOnly1Club=Cricket^Football
print(InOnly1Club)

{'Akshat', 'Yash', 'Aaryan'}
{'Aditya', 'Adi', 'Raj', 'Prithvi'}

In [ ]:
#Problem-4
Set_of_all_Students={'Aditya', 'Shakshi', 'Aaryan', 'Pari', 'Adi', 'Raj', 'Yash', 'Harsh'}
Absent_Students={'Adi', 'Raj', 'Yash'}
Present_Students=Set_of_all_Students  -  Absent_Students
print(Present_Students)

{'Aditya', 'Shakshi', 'Aaryan', 'Pari', 'Harsh'}

In [ ]:
#Problem-5
courses={"ETC101","ETC104","ETC109","ETC132","ETC213"}
courses.discard("ETC104")
print(courses)

{'ETC109', 'ETC101', 'ETC213', 'ETC132'}