<a href="https://colab.research.google.com/github/prithviratkalkar2304-coder/Prithvi_Ratkalkar/blob/main/Study%20of%20Loops%20/%20Exp7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:Prithvi Ratkalkar

PRN:25070123165

Batch: ENTC-A1

#Experiment-7
#Study of Loops in Python

In [ ]:
#While loop (Used when the number of iterations is not known)
#Print i as long as i is less than 6
i=0
while(i<6):
  print(i)
  i+=1

In [ ]:
# print numbers from 1 to N.
N=int(input("Enter the number:"))
i=1
while(i<=N):
 print(i)
 i+=1

In [ ]:
#factorial of a number
N=int(input("Enter the number:"))
f=1
i=1
while(i<=N):
 f=f*i
 i+=1
print(f)

In [ ]:
# Fibbonacci Series
N=int(input("Enter the number:"))
a=0
b=1
i=1
while (i<=N):
 print(a, end=" ")
 i=a+b
 a=b
 b=i

In [ ]:
#reverse a number
n=int(input("Enter the number:"))
rev=0
while n!=0:
  dig=n%10
  rev=rev*10+dig
  n=int(n/10)
print(rev)

In [ ]:
# Check for paliindrome
n=int(input("Enter the number:"))
temp=n
rev=0
while temp!=0:
  dig=temp%10
  rev=rev*10+dig
  temp=int(temp/10)

print(rev)
if (n==rev):
  print('Pallindrome', n)
else:
 print('Not Pallindrome' , n)

In [ ]:
#another code

st=input("Enter the string:")
rev=st[::-1]

if st==rev:
   print('Pallindrome', st)
else:
   print('Not Pallindrome', st)

In [ ]:
#check for pallindrome words
s="malayalam"
i,j=0,len(s)-1
is_palindrome=True
while i<j:
 if s[i]!=s[j]:
   is_palindrome=False
   break
 i+=1
 j-=1
if is_palindrome:
  print('Pallindrome')
else:
   print('Not Pallindrome')

In [ ]:
#count digits in a number
n=int(input("Enter the number:"))
c=0
while n!=0:
  n=n//10
  c+=1
print(c)

#The Break Statement
With the break statement we can stop the loop even if the while condition is true

In [ ]:
#exit a loop when i is 3
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [ ]:
#Search an element in a list
num=[10,20,30,40,50]
n=int(input("Enter the number:"))
i=0
while i<len(num):
 if num[i]==n :
   print('Element found', i)
   break
i+=1
else:
  print('Element not found')

SyntaxError: invalid syntax (ipython-input-560662763.py, line 10)

In [ ]:
#print numbers from 1-10(Skip 5)
i = 1
while i<=10:
  if i==5:
     i+=1
     continue
  print(i)
  i+=1

1
2
3
4
6
7
8
9
10

In [ ]:
#print only odd numbers
i=1
while i<=10:
  if i%2==0:
     i+=1
     continue
  print(i)
  i+=1

1
3
5
7
9

#For Loop


A for loop is used to repeat a block of code for each element

In [ ]:
#print number from 1-5 (using for loop)
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
#For loop using break, continue and pass funtion is same as using in while loop

In [ ]:
#print even number from 1-10
for i in range(2,11,2):

 print(i)

2
4
6
8
10

In [ ]:
#sum of first N numbers
N=int(input("Enter a number"))
sum=0
for i in range(N+1):
 sum=sum+i
print(sum)

Enter a number5
15

In [ ]:
# Nested loop
for i in range(1,4):
 for j in range(1,4):
  print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# 3x3 matrix display
A=[[1,2,3],[4,5,6],[7,8,9]]

for i in range(3):
  for j in range(3):
      print(A[i][j], end="  ")
  print()

1  2  3
4  5  6
7  8  9

In [ ]:
# multiplication of 2 3x3 Matrices
A=[[1,2,3],[4,5,6],[7,8,9]]
B=[[1,2,3],[1,1,1],[1,2,3]]
R=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
  for j in range(3):
    for k in range(3):
      R[i][j]+=A[i][k]*B[k][j]

print("Product of Matrices")
for row in R:
  print(row)

Product of Matrices
[6, 10, 14]
[15, 25, 35]
[24, 40, 56]

In [ ]:
#Accept 3-digit numbers and print all possible combination
d1=1
d2=2
d3=3
d=[d1,d2,d3]
for i in range(3):
  for j in range(3):
    for k in range(3):
      if i!=j and j!=k and i!=k:
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
#Armstrong number
num=153
sum=0
for dig in str(num):
  sum+=int(dig)**len(str(num))
if sum==num:
  print(num,"Armstrong number")
else:
  print(num,"Not Armstrong number")

153 Armstrong number

In [ ]:
#Print all prime num in range
for num in range(2,100):
  for i in range(2,num):
    if num%i==0:
      break
  else:
    print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
n=5
for i in range(n):
  print(i*' ',(n-i)*' *')

  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
n=5
for i in range(n):
  print((n-i)*' ',(i+1)*' *')

       *
      * *
     * * *
    * * * *
   * * * * *

In [ ]:
n=5
for i in range(n):
  print((n-i)*' *',(i)*' ')

 * * * * *
 * * * *
 * * *
 * *
 *

In [ ]:
n=5
for i in range(n):
  print((n-i)*'* ')

* * * * *
* * * *
* * *
* *
*

In [ ]:
#Floyd Series
n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=" ")
    i=+1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5