<a href="https://colab.research.google.com/github/prithviratkalkar2304-coder/Prithvi_Ratkalkar/blob/main/BASICS%20OF%20PYTHON%20/%20EXP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Prithvi Ratkalkar

PRN:25070123165

Batch: ENTC-A1

#Basic Programs-Experiment-2

In [ ]:
#First Python Program
print("Hello Welcome to Python")

Hello Welcome to Python

In [ ]:
#Mutltiple Statments
print("Hello");print("How are you");print("Bye Bye");

Hello
How are you
Bye Bye

In [ ]:
print("Hello!", end=" ")
print("How are you")

Hello! How are you

In [ ]:
#print numbers
a=5
print(a)
print(231)
print(675644)

5
231
675644

In [ ]:
#initialising variables
x=4
x="hey"
print(x)

hey

In [ ]:
#many variables
x, y, z="Age", "Name", "College"
a, b, c="18", "Akshat", "SIT"
print(x, end=" : ");print(a);print(y,  end=" : ");print(b);print(z,  end=" : ");print(c)

Age : 18
Name : Akshat
College : SIT

In [ ]:
#Calculations
a=6
b=3
print("Addition=", a+b)
print("Subtraction=", a-b)
print("Multiplicaton=", a*b)
print("Division=", a/b)

Addition= 9
Subtraction= 3
Multiplicaton= 18
Division= 2.0

In [ ]:
#DatA TYPES
A=5
a=3.65
b="name"
f=True
g=5+8j
print(type(A))
print(type(a))
print(type(b))
print(type(f))
print(type(g))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [ ]:
#Input From User
a=int(input("Enter a Number:"))
b=int(input("Enter a Number:"))
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)

Enter a Number:4
Enter a Number:3
7
1
12
64
1.3333333333333333

In [ ]:
#Calculate sum and avg of marks of students
M1=float(input("Enter a Number:"))
M2=float(input("Enter a Number:"))
M3=float(input("Enter a Number:"))
M4=float(input("Enter a Number:"))
M5=float(input("Enter a Number:"))
print(M1+M2+M3+M4+M5)
print((M1+M2+M3+M4+M5)/5)

Enter a Number:98
Enter a Number:98
Enter a Number:65
Enter a Number:35
Enter a Number:86
382.0
76.4

In [ ]:

#Area of Rectangle
L=float(input("Enter a Number:"))
B=float(input("Enter a Number"))
print("Area of Rectangle", L*B)

Enter a Number:4
Enter a Number5
Area of Rectangle 20.0

In [ ]:
#Area of Circle
r=float(input("Enter a radius"))
print("Area of Circle", (3.14*r*r))

Enter a radius2
Area of Circle 12.56