<a href="https://colab.research.google.com/github/prithviratkalkar2304-coder/Prithvi_Ratkalkar/blob/main/STUDY%20OF%20TUPLE%20/%20EXP4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:Prithvi Ratkalkar

PRN:25070123165

Batch: ENTC-A1

#Experiment-4
#Study of Tuple

In [ ]:
#Python Tuples
# Create Tuples and Access Tuple items
thistuple=("Prithvi","Aaryan","Raj")
print(thistuple[-1])


Tp=(43,65,3,67,2,9,54,432)
print(Tp[2:5])
print(Tp[-4:-1])
print(Tp[2:])
print(Tp[:6])
print(Tp[1:5:2])

Raj
(3, 67, 2)
(2, 9, 54)
(3, 67, 2, 9, 54, 432)
(43, 65, 3, 67, 2, 9)
(65, 67)

In [ ]:
#Replacing in Tuple
Tp=(43,65,3,67,2,9,54,432)
Tp[1]=3
print(Tp)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Append items
Tp.append(5)
print(Tp)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#Concating 2 tuples
t1=(4,5,6)
t2=(7,8,9)
t3=t1+t2
print(t3)

(4, 5, 6, 7, 8, 9)

In [ ]:
#Problems-1
'''
A student's exam result is stored in a tuple containing 3 fixed fieds: Suject name,marks ,grage
WAP to:
*Store the Exam result into seperate variables
*Unpack the tuple elements into seperate variables
*Display the subject, marks, grades,
Check whether the student has scored 75 or more marks and print "Distinction" if the condition is satisfied
'''
Result=("Maths",87,"A")
Sub,marks,Grade=Result
print(Sub)
print(marks)
print(Grade)
#check for distinction
if(marks>=75):
    print("Distinction")

Maths
87
A
Distinction

In [ ]:
#Problem-2

Attendence=("P","P","P","P","A","P","P","A","A","P")
print("Total Present:",Attendence.count("P"))
print("Total Absent:",Attendence.count("A"))
if(Attendence.count("A")>=1):
    print("Employee was absent atleast once")

Total Present: 7
Total Absent: 3
Employee was absent atleast once